.aboutUs{
	margin-top: 82px;




	.overlay {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	   z-index: 10000020;
	    overflow-y: hidden;
	    background-color: #000;
	    opacity: 0;
	    top: 0px;
	}



	 .owner1-details, .owner2-details{
	 	position: fixed;
		    z-index: 10000021;
		    top:50%;
		    left: 50%;
		    transform: translate(-50%, -300px);


	 	.popupbox{
	 		background-color: white;
			/*height: 600px;*/
			padding:30px;
		    h3{

				font-weight: 700;
				color:$corange;
		    }
		    .role{
				font-weight: 700;
				margin:0px;
		    }
		    p{
		    	margin:30px 0px;
		    }

			.contact-info{
				color:$corange;
				font-weight: 600;
				margin-bottom: 0px;
				margin-top: 10px;
			}

	 	}







	 	.x_button{
			cursor: pointer;
	 		position:absolute;
	 		top:10px;
	 		right:10px;
	 	}

	 }











	.we{
		padding-top:50px;
		//padding-bottom:100px;
		.text-col {
			padding-top: 50px
		}
		h1{
			margin-top:0px;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color:$cblue2;
			font-size: 60px;
		}
		h2 {
			font-family: 'Roboto Condensed', sans-serif;
	    position: absolute;
	    font-size: 120px;
	    font-weight: 700;
	    opacity: 0.05;
			top: -40px;
			color: $cblue2;
		}
		.underline{
			/*float:left;*/
			width: 60px;
			height: 6px;
			background-color:$cblue2;
			margin: 20px auto 40px 0px;
		}



		.text{


			 p{
			 	line-height: 24px;
			 }
			.textlead{
				 font-weight: 700;
				 margin-top: 60px;
			}

		}
		.photos{
			/*display: flex;
			flex-direction: column;*/

			img{
				box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.2);
				margin-bottom: 75px;
				max-height: 305px;
				float: right;
			}
		}


	}



	.infographic{
		background: none;
		background-image: url(./img/counter-img.png);
		background-size: cover;
		background-position: center;
		.statistics  {
			background: none;
			display: flex;
			height: 600px;

			align-items: center;
			justify-content: center;
			h3 {
				display: none;
			}
			.number {
				position: relative;
				font-size: 72px;
				color: $cblue2;
				font-weight: 700;
				&:before {
					content : "";
				  position: absolute;
					left: 50%;
    			transform: translateX(-50%);
				  bottom  : -10px;
				  height  : 1px;
				  width   : 70px;  /* or 100px */
				  border-bottom:8px solid $corange;
				}
			}
			.count-title {
				padding-top: 10px;
				font-size: 28px;
				color: $cblue2;
			}
			.statistics-inner {
				width: 100%;
				display: flex;
				justify-content: space-around;
			}
		}
	}







	.ourteam{

		padding-bottom:100px;


		h1{
			text-align:center;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color:$corange;
			font-size: 48px;
		}
		.underline{
			width: 60px;
			height: 5px;
			background-color:$corange;
			margin:0px auto 0px auto;
		}


		.section1{
			/*float:none;*/
			/*display:flex;
			justify-content: center;*/

			.owner-box{
				text-align: center;
				cursor: pointer;

				img{
					max-height: 400px;
					width:auto;
					/*display:flex;
					justify-content: center;*/
					margin:0px auto 0px auto;
				}
				h4{
					color:$corange;
					font-weight: 700;
					font-size: 48px;
				}
				p{
					font-weight: 700;
					font-size: 16px;
				}
			}
		}



		.section2{
			float:none;
			display:flex;
			justify-content: center;
			flex-wrap: wrap;

			.employee-box{
				text-align: center;
				img{
					/*max-height: 200px;
					width:auto;*/
					max-width: 100%;
				}
				h4{
					color:$corange;
					font-weight: 700;
					font-size: 16px;
				}
				p{
					font-weight: 700;
					font-size: 14px;
				}
			}
		}
	}








	.directions{
		padding-bottom:100px;
		h1{
			text-align:center;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color:$cblue2;
		}
		.underline{
			width: 60px;
			height: 5px;
			background-color:$cblue2;
			margin:0px auto 0px auto;
		}
		p{
			display:block;
			text-align:center;
			padding:40px 0px;
		}


		.gallery-slider{
			height: 200px;
			background-color: grey;
		}
	}







	.licences{
		padding-bottom:100px;


		p{
			display:block;
			text-align:center;
			padding:40px 0px;
		}


		h1{
			text-align:center;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color:$corange;
		}
		.underline{
			width: 60px;
			height: 5px;
			background-color:$corange;
			margin:0px auto 0px auto;
		}

		.partner-logos{

			.partner-logo{
				display:flex;
				align-self: center;
				text-align: center;

				img{
					max-height: 200px;
					margin:auto;

				}

			}
		}


		.partner-description{
			.partner-desc{
				p{

				color:$cblue2;
				font-family: 'Roboto Condensed', sans-serif;
				font-weight: 700;
				font-size: 18px;
				}
			}
		}

	}








	.partners{
		padding-bottom:100px;
		h1{
			text-align:center;
			font-family: 'Roboto Condensed', sans-serif;
			font-weight: 700;
			color:$cblue2;
		}
		.underline{
			width: 60px;
			height: 5px;
			background-color:$cblue2;
			margin:0px auto 0px auto;
		}
	}


	.line{
		/*padding-top: */
	}


}
