.for_business-site {
  margin-top: 80px;
  p {
    line-height: 20px;
    margin-top: 20px;
    font-size: 14px;
  }
  img {
    &.shadowed {
      -webkit-box-shadow: 8px 10px 10px -4px rgba(230,229,229,1);
      -moz-box-shadow: 8px 10px 10px -4px rgba(230,229,229,1);
      box-shadow: 8px 10px 10px -4px rgba(230,229,229,1);
      @media (max-width: 1199px) {
        max-height: 260px;
      }
      margin: 0 auto;
    }

  }
  .btn-outline {
    margin: 35px auto;
    border-radius: 0;
    background-color: inherit;
    color: inherit;
    transition: all .5s;
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding-left: 25px;
    padding-right: 25px;
    width: 205px;
    &:focus {
      outline: 0;
    }
  }
  .section-one {
    margin-bottom: 60px;
  }
  .first-text-section {
    h1 {
      font-family: 'Roboto Condensed', sans-serif;
      position: relative;
      color: $cblue2;
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 60px;
    }
    h2 {
      font-family: 'Roboto Condensed', sans-serif;
      position: absolute;
      top: -20px;
      left: 15px;
      font-size: 60px;
      font-weight: 700;
      color: $cblue2;
      opacity: 0.05;
    }
    .underline {
      top: 85px;
      position: absolute;
      width: 55px;
      border-bottom: 6px solid $cblue2;
    }
  }
  .first-photo-section {
    padding-top: 40px;
    @media (max-width: 991px) {
      padding-left: 20px;
    }
    .btn-primary {
      color: $cblue2;
      border-color: $cblue2;
      &:hover {
        color: #FFF;
        background-color: $cblue2;
      }
      &:active {
        color: #FFF;
      }
    }
  }
  .seciton-two {
    margin-bottom: 60px;
  }
  .second-photo-section {
    @media (max-width: 991px) {
      padding-right: 20px;
    }
    .btn-primary {
      color: $corange;
      border-color: $corange;
      &:hover {
        color: #FFF;
        background-color: $corange;
      }
      &:active {
        background-color: $corange;
        border-color: $corange;
        color: #FFF;
      }
    }
  }
  .section-three {
    margin-bottom: 60px;
  }
  .third-text-section {
    padding-top: 20px;
  }
  .third-photo-section {
    .btn-primary {
      color: $cdarkgrey;
      border-color: $cdarkgrey;
      &:hover {
        color: #FFF;
        background-color: $cdarkgrey;
      }
      &:active {
        background-color: $cdarkgrey;
        border-color: $cdarkgrey;
        color: #FFF;
      }
    }
  }
  .text-at-the-end {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    margin-bottom: 80px;
    p {
      font-weight: 600;
    }
  }
  .question-stripe {
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: $cblue2;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 80px;
    h1 {
      font-weight: 700;
      color: #FFF;
      display: inline-block;
    }
    img {
      display: inline-block;
      max-height: 35px;
      margin-bottom: 20px;
      margin-left: 40px;
      box-shadow: none;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000000;
    overflow-y: hidden;
    background-color: #000;
    opacity: 0;
    top: 0px;
  }
  .detal {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    background-color: #FFF;
    position: fixed;
    z-index: 10000001;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    &.component-detal {
      .header {
        padding-top: 15px;
        padding-bottom: 13px;
        color: white;
        background-color: $cblue2;
        font-weight: 700;
        .exit {
          img {
            cursor: pointer;
            float:right;
          }
        }
      }
      .content {
        flex-grow: 1;
      }
      .slider {
        margin-top: 60px;
        .slick-slide {
          margin-right: 10px;
          margin-left: 10px;
        }
        .slick-track {
          padding-bottom: 10px;
        }
        .slick-dots {
          li {
            width: 12px;
            margin-right: 2.5px;
            margin-left: 2.5px;
          }
          bottom: -35px;
        }
        .slick-arrow {
          padding-bottom: 2px;
        }
      }
      .text-row {
        margin-bottom: 30px;
        margin-top: 50px;
        .text-col {
          margin: 0 auto;
          display: flex;
          width: 60%;
          justify-content: space-around;
          .plain-text {
            width: 125px;
            position: relative;
          }
          .hyphen-before {
            position: absolute;
            height: 12px;
            width: 9px;
            left: -25px;
            border-bottom: 3px solid $cblue2;
          }
          p {
            position: relative;
            margin-top: 10px;
          }
        }
      }
      .footer {
        padding-top: 15px;
        padding-bottom: 13px;
        background-color: $cblue2;
        color: white;
        font-weight: 700;
        .leftText {
          cursor: pointer;
        }
        .rightText {
          cursor: pointer;
          text-align: right;
        }
        .arrow {
          display: inline-block;
          &.left-arrow {
            padding-bottom: 1px;
            margin-right: 10px;
          }
          &.right-arrow {
            margin-left: 10px;
            float: right;
            padding-top: 3px;
          }
        }
      }
    }
    &.summer-detal {
      .header {
        background-color: $corange;
      }
      .slick-arrow {
        background-color: $corange;
        border-color: $corange;
      }
      .slick-dots {
        button {
          border: 1px solid $corange;
          &:hover, &:focus, &:before {
              background-color: $corange;
              &:before {
                  background-color: $corange;
              }
          }
        }
      }
      .slick-active {
        button {
          background-color: $corange;
        }
      }
      .text-row {
        .text-col {
          .hyphen-before {
            border-bottom: 3px solid $corange;
          }
        }
      }
      .footer {
        background-color: $corange;
      }
    }
    &.mice-active-detal {
      .header {
        background-color: $cdarkgrey;
      }
      .slick-arrow {
        background-color: $cdarkgrey;
        border-color: $cdarkgrey;
      }
      .slick-dots {
        button {
          border: 1px solid $cdarkgrey;
          &:hover, &:focus, &:before {
              background-color: $cdarkgrey;
              &:before {
                  background-color: $cdarkgrey;
              }
          }
        }
      }
      .slick-active {
        button {
          background-color: $cdarkgrey;
        }
      }
      .text-row {
        .text-col {
          .hyphen-before {
            border-bottom: 3px solid $cdarkgrey;
          }
        }
      }
      .footer {
        background-color: $cdarkgrey;
      }
    }
  }
}
